<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/text-styles.css">
</head>

<body>
    <div class="grid-container">
        <div class="logo">
            <img src="/static/Logo.png" alt="Логотип">
        </div>
        <div class="image-container">
            <img src="/static/Picture.png" alt="Картинка">
        </div>
        <div class="page-links">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/form">Форма поиска</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
        <div class="text-content" style="text-align: justify;">
            <h2>Разработчик:</h2>
            <p>{{name}}</p>
            <h2>Обратная связь:</h2>
            <p>Email: {{email}}</p>
            <!-- Дополнительная информация о контактах -->
        </div>
    </div>
</body>

</html>