<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/text-styles.css">
</head>

<body>
    <div class="grid-container">
        <div class="logo">
            <img src="/static/Logo.png" alt="Логотип">
        </div>
        <div class="image-container">
            <img src="/static/Picture.png" alt="Картинка">
        </div>
        <div class="page-links">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/form">Форма поиска</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
        <div class="text-content" style="text-align: justify;">
            <h2>{{hello}}</h2>
            <p>На странице формы поиска ты можешь запросить результаты матчей текущего сезона 2023/2024 любой команды Российской Премьер-лиги на латинице в формате: CSKA.</p>

            <table>
                <tr>
                    <th>Позиция</th>
                    <th>Клуб</th>
                    <th>Игры</th>
                    <th>Победы</th>
                    <th>Ничьи</th>
                    <th>Поражения</th>
                    <th>Забито</th>
                    <th>Очки</th>
                </tr>
                {% for row in tournament_table %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h3>Игроки</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Имя игрока</th>
                    <th>Дата рождения</th>
                    <th>Игры</th>
                    <th>Голы</th>
                    <th>Национальность</th>
                    <th>Клуб</th>
                </tr>
                {% for player in football_players %}
                    <tr>
                        <td>{{ player.id }}</td>
                        <td>{{ player.player_name }}</td>
                        <td>{{ player.birth_date }}</td>
                        <td>{{ player.games }}</td>
                        <td>{{ player.goals }}</td>
                        <td>{{ player.nationality }}</td>
                        <td>{{ player.team.club }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>
